.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 20px;
    height: 68px;

    transition: all .5s ease-in;

    &_black {
        background-color: #111;
    }

    &_logo {

        img {
            width: 80px;
        }
       
        position: fixed;
        left: 3rem;

    }

    &_avatar {
        width: 30px;
        object-fit: contain;
        position: fixed;
        right: 20px;
    }
}